services:
  
  chat_client:
    build: 
      context: ./front
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    expose:
      - "3000"
  chat_api:
    build: 
      context: ./api
      args:
        HOST_IP: ${HOST_IP}
        DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}?schema=public"
    expose:
      - "3000"
    depends_on:
      chat_db:
        condition: service_healthy

  chat_storage:
    build: 
      context: ./storage
    expose:
      - "5000"
  chat_db:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    expose:
      - "5432"
    volumes:
      - chat_postgres_data:/var/lib/postgresql/data
      - ./dump.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', '${DB_USER}']
      interval: 10s
      timeout: 5s
      retries: 5
  chat_proxy:
    image: nginx:latest
    ports:
      - "9999:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - chat_client
      - chat_api
      - chat_storage
  chat_bot:
    build: ./bot
    environment:
      URL: ${URL}
    depends_on:
      - chat_proxy
volumes:
  chat_postgres_data: